@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";

.ant-picker-cell-today .ant-picker-cell-inner {
  background-color: #1d4ed8 !important; /* Xanh nước biển */
  color: white !important;              /* Chữ trắng */
  border: none !important;              /* Bỏ border xanh mặc định */
  border-radius: 6px !important;        /* Cho đẹp */
}